<div class="display-font text-dark collapse navbar-collapse" id="tamiNavCollapse">
    <ul class="list-group list-group-horizontal-lg">
        <li class="list-item">
            <a href="{% url 'tami' %}" class="nav-link display-font">All Artwork</a>
        </li>
        <li class="list-item">
            <a href="{% url 'tami' %}?style=pop-art&direction=asc" class="nav-link display-font">Pop Art</a>
        </li>
        <li class="list-item">
            <a href="{% url 'tami' %}?style=digital-art&direction=asc" class="nav-link display-font">Digital Art</a>
        </li>
        <li class="list-item">
            <a href="{% url 'tami' %}?style=fine-art&direction=asc" class="nav-link display-font">Fine Art</a>
        </li>
        <li class="list-item">
            <a href="{% url 'tami' %}?style=street-art&direction=asc" class="nav-link display-font">Street Art</a>
        </li>
        <li class="list-item">
            <a href="{% url 'tami' %}?style=abstract-art&direction=asc" class="nav-link display-font">Abstract</a>
        </li>
        <li class="list-item">
            <a href="{% url 'tami' %}?style=photography&direction=asc" class="nav-link display-font">Photography</a>
        </li>
    </ul>
</div>